@page
@model BooksCatalog.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a asp-page="Create">Create New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Registered On
            </th>
            <th>
                Category
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Update</a> 
            </td>
        </tr>
}
    </tbody>
</table>
